<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jim.orm.mybatis.service.mapper.AuthPermissionResourceMapper">
  <resultMap id="BaseResultMap" type="com.jim.orm.common.entity.mybatis.AuthPermissionResource">
    <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
    <id column="resource_id" jdbcType="BIGINT" property="resourceId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from auth_permission_resource
    where permission_id = #{permissionId,jdbcType=BIGINT}
      and resource_id = #{resourceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jim.orm.common.entity.mybatis.AuthPermissionResource">
    insert into auth_permission_resource (permission_id, resource_id)
    values (#{permissionId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jim.orm.common.entity.mybatis.AuthPermissionResource">
    insert into auth_permission_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        permission_id,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionId != null">
        #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>